---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
<div class="item-page container py-4">
    {% include item/breadcrumbs.html %}
    <header class="item-page__header">
        <div class="item-page__type">
            {{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}<span class="item-page__type-count">({{ children | size }} Items)</span>{% endif %}
        </div>
        <div class="item-page__heading">
            <h1 class="item-page__title">{{ page.title }}</h1>
            {% unless page.display_template == 'record' %}
            <a href="#metadata" class="item-page__jump btn btn-sm btn-outline-dark">Item Info
                <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info">
                    <use href="{{ '/assets/css/cb-icons.svg' | relative_url }}#arrow-down"/>
                </svg>
            </a>
            {% endunless %}
        </div>
    </header>

    <div class="item-page__layout row g-4 justify-content-center">
        <div class="col-12 col-xl-7">
            <section class="item-page__media">
                {{ content }}
            </section>
        </div>

        <div class="col-12 col-xl-5">
            <aside class="item-page__sidebar">
                <section class="item-page__panel" id="metadata">
                    {% include item/metadata.html %}
                </section>

                <section class="item-page__panel item-page__panel--citation">
                    {% include item/citation-box.html %}
                </section>
                {% if page.rights or page.rightsstatement %}
                <section class="item-page__panel item-page__panel--rights">
                    {% include item/rights-box.html %}
                </section>
                {% endif %}
            </aside>
        </div>
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    {% include item/browse-buttons.html %}
    {%- endif -%}
</div>
