{% comment %}

    Default Collection Banner include. 
    This feature adds a traditional collection banner to the top of the page (generally above a navbar). There is two built in banner types:

    Title + Tagline:
    The default banner features the title and tagline set in "_config.yml". If an organization is configured (name, link, logo), it will appear on the right side of the banner.

    Featured Image Banner: 
    A decorative banner featuring a large background image stretched across the full screen with the title + tagline overlaid on top. This feature can be used on any page by adding "banner-featured-image" to the page front matter. 
    By default, this feature is added to the "home-infographic" layout automatically, with the default options configured in "theme.yml" Home Page section. It can be turned off on "home-infographic" by adding "banner-featured-image: false" to the page stub front matter.
    Adding "banner-featured-image: true" to any page front matter will add the same default feature as configured in "theme.yml". 
    However, the feature can be fully customized on any page by using the front matter options: 
        - banner-featured-image: an objectid, relative path to image in this project, or full url to any image.
        - banner-image-position: set background-position for featured image, "center", "top", "bottom"
        - banner-padding: additional padding added to the feature to increase size. Give value in em or px, e.g. "5em"
        - banner-heading: major heading/title to display over the featured image, by default this is the site title.
        - banner-sub-heading: smaller text below the heading, by default this is the site tagline.

{%- endcomment -%}
{% if page.banner-featured-image != false and page.banner-featured-image or page.layout == "home-infographic" %}
    {% if page.banner-featured-image contains '/' %}
        {% assign jumboSrc = page.banner-featured-image | relative_url %}
        {% capture jumboLink %}{% endcapture %}
    {% elsif page.banner-featured-image and page.banner-featured-image != true %}
        {% assign jumboItem = site.data[site.metadata] | where: "objectid", page.banner-featured-image | first %}
        {% capture jumboSrc %}{{ jumboItem.object_location | relative_url }}{% endcapture %}
        {% capture jumboLink %}{{ '/items/' | relative_url }}{% if jumboItem.parentid %}{{ jumboItem.parentid }}.html#{{ jumboItem.objectid }}{% else %}{{ jumboItem.objectid }}.html{% endif %}{% endcapture %}
    {% else %}
        {% capture jumboSrc %}{{ site.data.featured_item.src | relative_url }}{% endcapture %}
        {% capture jumboLink %}{% if site.data.featured_item.link != "" %}{{ site.data.featured_item.link | relative_url }}{% endif %}{% endcapture %}
    {%- endif -%}
<section
    id="home-banner"
    class="site-hero site-hero--home"
>
    <div class="container site-hero__inner">
        <div class="site-hero__frame">
            <div id="home-title-box" class="site-hero__content">
                {% if site.organization-name %}
                <p class="site-hero__eyebrow">{{ site.organization-name }}</p>
                {% endif %}
                <h1 class="site-hero__title">{{ page.banner-heading | default: site.title }}</h1>
                {% if page.banner-sub-heading != false and page.banner-sub-heading or site.tagline %}
                <p class="site-hero__dek">{{ page.banner-sub-heading | default: site.tagline }}</p>
                {% endif %}
                <div class="site-hero__actions">
                    <a class="btn btn-primary" href="{{ '/browse.html' | relative_url }}">Browse Collection</a>
                    <a class="btn btn-outline-secondary" href="{{ '/about.html' | relative_url }}">About</a>
                </div>
            </div>
            {% if site.organization-logo-nav %}
            <div class="site-hero__mark">
                <a class="site-hero__logo-link" href="{{ site.organization-link }}">
                    <img id="home-banner-logo" class="site-hero__logo" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name | escape }} home">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if jumboLink != '' %}
    <a class="site-hero__credit" href="{{ jumboLink }}" title="Visit featured image record">Featured Image Record</a>
    {% endif %}
</section>
{%- else -%}
<section class="site-banner site-banner--page">
    <div class="container site-banner__inner">
        <div class="site-banner__copy">
            <p class="site-banner__eyebrow"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>
            {% if page.title and page.title != 'Home' %}
            <h1 class="site-banner__title">{{ page.title }}</h1>
            <p class="site-banner__dek">{{ site.tagline }}</p>
            {% elsif site.tagline %}
            <h1 class="site-banner__title">{{ site.title }}</h1>
            <p class="site-banner__dek">{{ site.tagline }}</p>
            {% endif %}
        </div>
        {% if site.organization-logo-banner %}
        <div class="site-banner__mark">
            <a href="{{ site.organization-link }}">
                <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home">
            </a>
        </div>
        {% endif %}
    </div>
</section>
{%- endif -%}
